#grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 7px;
}
.initBox {
  display: inline-flex;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 3px;
  width: 55px;
  height: 55px;
  background-color: white;
  border: 1px solid rgb(181, 178, 178);
}
.grayBox {
  display: inline-flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 3px;
  width: 55px;
  height: 55px;
  background-color: #787c7e;
  color: white;
  align-items: center;
}
.yellowBox {
  display: inline-flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 3px;
  width: 55px;
  height: 55px;
  background-color: #c9b458;
  color: white;
  align-items: center;
}
.greenBox {
  display: inline-flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 3px;
  width: 55px;
  height: 55px;
  background-color: #6aaa64;
  color: white;
  align-items: center;
}

.row {
  display: grid;
  width: 100%;
  grid-gap: 3px;
  grid-template-columns: repeat(5, 1fr);
}
