.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputBox {
  caret-color: transparent;
  outline: none;
  height: 50px;
  width: 300px;
  font-size: 50px;
  letter-spacing: 30px;
}
