.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputBox {
  outline: none;
  height: 50px;
  width: 310px;
  font-size: 52px;
  letter-spacing: 22px;
  margin-bottom: 10px;
  align-items: center;
}

.stats {
  position: absolute;
  right: 5px;
  top: 5px;
}
