.grayKey {
  color: white;
  background-color: gray;
  height: 45px;
  width: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.darkGrayKey {
  color: white;
  background-color: rgb(16, 14, 14);
  height: 45px;
  width: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.greenKey {
  color: white;
  background-color: green;
  height: 45px;
  width: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.keyRow {
  width: 100%;
  text-align: center;
}

.keyboard {
  position: fixed;
  bottom: 80;
  width: 100%;
}
