.grayKey {
  color: white;
  background-color: gray;
  height: 85px;
  width: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.darkGrayKey {
  color: white;
  background-color: rgb(16, 14, 14);
  height: 85px;
  width: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.greenKey {
  color: white;
  background-color: green;
  height: 85px;
  width: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.yellowKey {
  color: white;
  background-color: yellow;
  height: 85px;
  width: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.keyRow {
  width: 100%;
  text-align: center;
}

.keyboard {
  position: flex;
  bottom: 20;
  width: 100%;
}
